*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.calculator{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(27, 18, 6);
}
.buttons{
    gap: 13px;
    display: flex;
    
}
button{
    width: 70px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(204, 201, 201);
    border: none;
   
}
.result{
    width: 98%;
    height: 80px;
    font-size: 30px;
    text-align: right;
    border-radius: 5px;
    overflow-x: auto;      
    white-space: nowrap; 
    text-overflow: clip; 
}
#modeIcon {
  position: relative;         
                
  right: 100px;            
} 
.end-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#toggleMode{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    top: -10px;
    right: -150px;
}
img{
    position: absolute;
    left: 0;
    width:650px;
    bottom: -50px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f4f2f2;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
}